 <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logo">Password</label>
      <ul>
        <li><a class="active" [routerLink]="['/home']">Accueil</a></li>
        <li><a [routerLink]="['/generateur']">Générateur</a></li>
        <li><a [routerLink]="['/my-password']">Mes mots de passe</a></li>
        <li><a [routerLink]="['/my-account']">Mon compte</a></li>
        <li><a [routerLink]="['/register']">Inscription</a></li>
      </ul>
    </nav>